.add-board.btn {
    position: absolute;
    background-color: lightseagreen;
    background-color: #6764E8;
    font-size: 18px;
    width: 150px;
    border-color: beige;
    border-radius: 5px;
    margin-left: 4px;
    color:white;
    left: 10px;
    top : 10px;
}

.add-board.btn:focus {
    outline: none;
}

#whiteboard {
    background-color: darkgrey;
}

#board-container {
    display: inline-block;
    text-align: center;
    overflow: scroll;
}

#board-header {
    width: 100%;
    background: #FDF4E7;
}

.board {
    width: 800px;
    height: 600px;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    margin : 10px 10px 0px 10px;
    display: inline-block;
}

