.dropdown {
	font-family: monospace;
	font-size: 28px;
	color: white;
	margin-left: 1px;
	border-radius: 2px;
	height: fit-content;
	z-index: 1;
	margin-top: 5px;
	margin-right: 10px;
}

.dropdown ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: inherit;
	width: auto;    
}

.dropdown input {
	height: 80px;
	width: 100%;
	font-family: monospace;
	font-size: 28px;
	box-sizing: border-box;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: none;
}

.dropdown input:focus, .dropdown input:focus{
	outline: none;
}

.dropdown ul li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: default;
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	min-height: 60px;
	background-color: lightslategray;
	line-height: 70px;
}

.dropdown ul li.selected {
	background-color: darkslategray;
}

#boards-loader {
	position: absolute;
	top: 50%;
	left: 50%;
}

.dropdown-header {
	display: flex;
	border-radius: 1px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.dropdown-header img {
	width: 80px;
	height: 80px;
}

#filters {
	margin: 10px;
}
