.widget {
	position: absolute;
}

.widget-container {
	position: absolute;
}

.widget-content {
	position: absolute;
    display: table;
}

.widget-content-border {
	display: table-cell;
    vertical-align: middle;
    text-align:center;
    border:solid;
    border-color:#efefef;
    border-width: 3px;
}

.tabs-outline path {
	stroke: black;
	stroke-width: 0.2px;
	fill: lightgrey;
}

.tabs-outline.selected path {
	fill: #efefef;
	stroke-width: 0.3px;
}

.widget-tabs {
	cursor: default;
}

.widget-tabs text {
	font-size: 10px;
	font-family: monospace;
}

.drag-target-widget-overlay {
	background-color: green;
	opacity: 0.5;
	position:absolute;
	display: table;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}