html, body{
    height: 100%;
    background-color: #FDF4E7;
}

body.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input:focus {
    outline:none
}

::placeholder {
  font-family: monospace;
  font-size: 14px
}

.hidden {
    visibility: hidden;
}
