.spa-text {
    font-family: monospace;
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    overflow-y: scroll;
    box-sizing: border-box;
    line-height: 28px
}

.smartframes-text {
    font-family: monospace;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
    overflow-y: scroll;
    box-sizing: border-box;
    line-height: 28px
}

.brace {
    position: absolute;
    left: 0px;
}

.shuffle-tabs-txt {
    position: absolute;
    top: 40px;
    font-size: 14px;
    font-family: monospace;
    left: 100px;
}

.drag-down {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -1px
}

.drag-tab-txt {
    font-family: monospace;
    position: absolute;
    top: 50px;
    font-size: 14px;
}

.resize-left {
    position: absolute;
    width: 35px;
    right: 5px;
}

.resize-left-txt {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
    right: 35px;
}

.resize-right {
    position: absolute;
    width: 35px;
    left: 5px;
}

.resize-right-txt {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
    left: 35px;
}

.orange {
    background-color: orange;
    display: inline-table;
}

.navy-blue {
    background-color: #000080;
    display: inline-table;
}

.table-cloth {
    background-color: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 50%),
    linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 50%);
    background-size: 50px 50px;
}

.madras {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px);
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}