#add-board, #remove-board {
    background-color: #6764E8;
    font-size: 16px;
    font-family: monospace;
    padding: 0px 5px 0px 29px;
    border-color: beige;
    border-radius: 5px;
    color:white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-board img, #remove-board img {
    width: 24px;
    padding: 5px 0px 5px 5px;
    visibility: hidden;
}

#add-board.loading img, #remove-board.loading img {
    visibility: visible;
}

#add-board:focus, #remove-board:focus {
    outline: none;
}

#paragraph {
    background-color: darkgrey;
}

#board-container {
    display: flex;
    text-align: center;
    overflow: scroll;
    flex-direction: column;
}

#board-header {
    display: flex;
}

#remove-board-header {
    width: 50%;
    background: #FDF4E7;
    display: flex;
    flex-direction: row-reverse;
}

#add-board-header {
    width: 50%;
    background: #FDF4E7;
    display: flex;
}

.board {
    width: 800px;
    height: 600px;
    background-color: white;
    margin-top : 10px;
    display: inline-table;
    border-width: 0px;
    align-self: center;
}

.board.selected {
    border-style: solid;
    border-width: 2px;
    border-color: lightpink;
    box-shadow: 2px 2px 2px 2px grey;
}

.board:last-child {
    margin-bottom: 10px
}