#commands-container {
    background-color: #FDF4E7;
}

#commandsAceEditorContainer {
    position: absolute;
    border-style: ridge;
    border-width: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    overflow-y: scroll;
}

.sampleEditorContainer {
    border-style: ridge;
    border-width: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    overflow-y: scroll;
    height: 300px;
}

#commandsAceEditorContainer:focus {
    outline: none;
}

.run-command.btn {
    position: absolute;
    background-color: #6764E8;
    font-family: monospace;
    font-size: 18px;
    width: 180px;
    border-color: beige;
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 5px;
    color:white;
}

.copy-to-clipboard.btn {
    background-color: #ec8e5f;
    font-family: monospace;
    font-size: 14px;
    width: 50px;
    border-color: beige;
    border-radius: 5px;
    color:white;
    height:26px
}

.copy-to-clipboard-button-holder {
    height: 30px;
    margin: 10px 0px 0px 0px;
    border-bottom:solid;
    border-color:#e2ddd2;
    padding-bottom:1px;
    border-width: 1px;
}

.btn:focus {
    outline: none;
}

.sample-command {
    font-family: monospace;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
}