.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    background: white;
    border: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 5px;
    background-color: white;
	width: 350px;
    height: 450px;

    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.screenshot-container {
	overflow-y: auto;
	overflow-x: auto;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-txt {
    height: 200px;
}

.feedback-button {
    background-color: #6764E8;
    font-size: 16px;
    font-family: monospace;
    padding: 0px 5px 0px 29px;
    border-color: beige;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
}